

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
    width: 50px;
    padding: 2px;
}


/*
 * Base structure
 */

html,
body {

    background-color: #333;
    font-size: 20px;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 85%;
}


/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
    margin-right: 20px;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;

}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

#logout {
    color:lightgoldenrodyellow;


}

:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {

    padding : 30px;
    margin-bottom: 10px;
    background-color: #fff;
}


.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0,.05); }

.card {
    margin: 0 5px;

}

.card-body a , .card-body h3 ,
p.card-text {
    text-align: center;
    color: #868686;
}

.card-body a {
    color: #5eb5e0;
    text-decoration: none;

}

#mess {

    text-shadow: -1px 1px 8px #807C78;


}

#add_bottom:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}




@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}



@media (min-width: 800px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 1.5);
        padding-bottom: calc(var(--jumbotron-padding-y) * 1.5);
    }

    .cover-container {
        width: 800px;
    }


}

